.mui-toast-container {
  line-height: 17px;
  position: fixed;
  z-index: 9999;
  bottom: 50px;
  left: 50%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0; }

.mui-toast-container.mui-active {
  opacity: .9; }

.mui-toast-message {
  font-size: 14px;
  padding: 10px 25px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background-color: #323232; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

button {
  width: 2rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.5rem;
  color: #fff;
  background-color: red;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  border: 0;
  border-radius: 3px;
  outline: none; }

input[type=text] {
  width: 100%;
  height: 1rem;
  float: left;
  line-height: 1rem;
  font-size: 0.6rem;
  margin-bottom: 15px;
  padding: 0;
  -webkit-user-select: text;
  border: 0;
  border-bottom: 1px solid #666;
  border-radius: 0;
  outline: 0;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #666; }

.header {
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background-color: red;
  line-height: 1.5rem;
  font-size: 0.6rem;
  font-weight: 600; }

.app {
  width: 100%;
  height: calc(100% - 1.5rem);
  padding: 0.2rem; }
  .app .content {
    width: calc(100% - 0.4rem);
    height: 100%;
    font-size: 0.6rem;
    color: #666; }
    .app .content .box {
      width: calc(100% - 2.4rem);
      position: relative;
      display: inline-block; }
      .app .content .box #base {
        width: calc(100% - 2rem);
        padding-right: 2rem; }
      .app .content .box .space {
        float: left;
        display: inline-block;
        width: 0.2rem; }
      .app .content .box #port {
        margin-left: 0.2rem; }
      .app .content .box .unit {
        font-size: 0.4rem;
        position: absolute;
        right: 0;
        top: 0.3rem; }
    .app .content .setting {
      float: right; }
    .app .content #SNBefore {
      width: 2rem; }
    .app .content #SNAfter {
      width: calc(100% - 2.2rem); }
    .app .content .ip {
      width: calc((100% - 0.8rem)/5); }
    .app .content #report {
      width: 3rem;
      margin-bottom: 0.5rem; }
    .app .content .init-button {
      width: 100%;
      height: 1rem; }
